# Exercise 4: Tuples

## Aim: Introduce tuples and how to work with them.

### Issues covered:
 - Working with tuples
 - Converting a list to a tuple
 - The enumerate built-in function
 - Swapping values with tuples

## 1. Let's create a couple of tuples.

Create a tuple named `t` containing one integer `1`.

In [2]:
t = (1,)
t

(1,)

Use indexing to print the last value of the tuple.

In [4]:
t[-1]

1

Create a tuple containing all values from `100` to `200`. There must be a short-cut to doing this...there is a built-in function to convert to a tuple called: `tuple()`

In [6]:
t_new = tuple(range(100, 201))
type(t_new)

tuple

Print the first and the last items in the tuple.

In [9]:
print("first item =", t_new[0])
print("last item =", t_new[-1])

first item = 100
last item = 200

## 2. Let's use the `enumerate` built-in function.

In an earlier exercise we stepped through the items in a list using the `for` statement. We also wanted to print the index (count) of each item in the list. The solution was:
```
mylist = [23, "hi", 2.4e-10]
for item in mylist:
    print(item, mylist.index(item)) 
```

Re-write the `for` loop above using the `enumerate()` built-in function.

Assign the tuple output from enumerate to the variables: `count`, `item`

In [11]:
mylist = [23, "hi", 2.4e-10]
for count, item in enumerate(mylist):
    print("index = ", count, "value =", item )

index =  0 value = 23
index =  1 value = hi
index =  2 value = 2.4e-10

## 3. Let's unpack multiple values from a list to a tuple in one line.

Assign the new variables `first`, `middle` and `last` to the values of `mylist` created above.

In [22]:
first, middle, last = mylist
print("first =", first)
print("middle= ", middle)
print("last =", last)

first = 23
middle=  hi
last = 2.4e-10

Print the values of `first`, `middle` and `last`.

Now re-assign the values of variables `first`, `middle` and `last` to the values of `middle`, `last` and `first` - in one line!

In [24]:
first, middle, last = mylist
last, middle, first = first, middle, last

print("first =", first)
print("middle= ", middle)
print("last =", last)

first = 2.4e-10
middle=  hi
last = 23